<div class = "row flex">
  <% kits.each do |kit| %>
    <div class = "col-sm-4 item-list center-block">
      <div>
        <div><%= link_to image_tag(kit.image_url(:thumb).to_s), kit %></div>
        <h4 class = "item-list"><%= link_to kit.name, kit %></h4>
        <div>メーカー：<%= kit.maker.maker_name %></div>
        <div>定価：<%= kit.list_price %>円</div>
        <div>カテゴリー：<%= kit.category %></div>
        <div>駆動形式：<%= kit.drive_system %></div>
      </div>
    </div>
    <% end %>
</div>
<div>
  <%= paginate escs %>
</div>