<div class="row">
  <h2><%= @kit.name %>　　<small><%= @kit.maker.maker_name %></small></h2>
  <div class = "col-md-6">

    <%= image_tag @kit.image_url, class: 'img-100' %> 
    <cite class = "text-muted small text-right">画像引用：<%= link_to "＜#{@kit.maker.maker_name}website＞#{@kit.name}", @kit.maker_url %></p></cite>

  </div>
  <div class = "col-md-6">
    <blockquote>
    <p><%= simple_format(@kit.information) %></p>
    <cite class = "text-muted small text-right">スペック引用：<%= link_to "＜#{@kit.maker.maker_name}website＞#{@kit.name}", @kit.maker_url %></p></cite>
    </blockquote>
    <p>定価：<%= @kit.list_price %></p>
    <p>カテゴリー<%= @kit.category %></p>
    <p>駆動形式：<%= @kit.drive_system %></p>
  </div>
</div>
<% if logged_in? %>
  <div>
    <h3><%= @kit.name %>へのコメント</h3>
      <%= render 'microposts/microposts', microposts: @microposts %>
      <p>コメント投稿</p>
      <%= render 'layouts/post_form', {micropost: @micropost, item: @kit, post_item: @post_item} %>
  </div>
<% else %>
    ログインしてください
  <% end %>  
<div>
  <h3><%= @kit.name %>使用マシン</h3>
    <%= render 'machines/machines', machines: @machines %>
</div>