<div class="text-center">
  <h2 class = "on-white">ユーザ情報編集</h2>
</div>

<div class="row user-edit-wrap">
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

    <%= form_for(@user) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <%= f.label :name, 'お名前' %>　<small class = "text-muted">表示名です　※必須</small>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <div><%= f.label :user_class, 'ユーザ属性' %></div>
        <div class = "user-class-radio"><%= f.radio_button :user_class, "ワークス" %>
        <span class="glyphicon glyphicon-user works" aria-hidden="true"></spam><%= f.label :ワークス %></div>
        
        <div class = "user-class-radio"><%= f.radio_button :user_class, "カツカツ" %>
        <span class="glyphicon glyphicon-user katsu2" aria-hidden="true"></spam><%= f.label :カツカツ %></div>
        
        <div class = "user-class-radio"><%= f.radio_button :user_class, "そこそこ" %> 
        <span class="glyphicon glyphicon-user soko2" aria-hidden="true"></spam><%= f.label :そこそこ %></div>
        
        <div class = "user-class-radio"><%= f.radio_button :user_class, "まったり" %> 
        <span class="glyphicon glyphicon-user mattari" aria-hidden="true"></spam><%= f.label :まったり %></div>
        
        <div class = "user-class-radio"><%= f.radio_button :user_class, "初心者" %> 
        <span class="glyphicon glyphicon-user begginer" aria-hidden="true"></spam><%= f.label :初心者 %></div>
      </div>

      <div class="form-group">
        <%= f.label :user_introduction, '自己紹介' %>
        <%= f.text_area :user_introduction, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :site_name, 'ホームページ・ブログ名' %>
        <%= f.text_field :site_name, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :site_url, 'ホームページ・ブログのURL' %>　<small class = "text-muted">（http://~~~）</small>
        <%= f.url_field :site_url, class: 'form-control' %>
      </div>
      
      <%= f.submit '編集を確定', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>