<div class="row">
  <aside class="col-sm-4 col-xs-12">
    <%= render 'information', user: @user %>
  </aside>
  <div class="col-sm-8 col-xs-12">
    <ul class="nav nav-tabs nav-justified">
      <li class="<%= 'active' if current_page?(user_path(@user)) %>"><%= link_to user_path(@user) do %>マイマシン <span class="badge"><%= @count_machines %></span><% end %></li>
      <li class="<%= 'active' if current_page?(fastenings_user_path(@user)) %>"><%= link_to fastenings_user_path(@user) do %>マイクリップ <span class="badge"><%= @count_fastenings %></span><% end %></li>
      <li class="<%= 'active' if current_page?(followings_user_path(@user)) %>"><%= link_to followings_user_path(@user) do %>フォロー <span class="badge"><%= @count_followings %></span><% end %></li>
      <li class="<%= 'active' if current_page?(followers_user_path(@user)) %>"><%= link_to followers_user_path(@user) do %>フォロワー <span class="badge"><%= @count_followers %></span><% end %></li>
    </ul>
    <%= render 'machines/machines', machines: @machines %>
  </div>
</div>