<div class = "row page-title">
  <div class = "blank-area1 col-sm-1 hidden-xs"></div>
  <div class = "col-xs-12 col-sm-10">
    <h2 class = "user-name"> <%= @user.name %><small>さんのページ</small></h2>
  </div>
  <div class = "blank-area2 col-sm-1 hidden-xs"></div>
</div>

<div class = "row user-tabs-area">
  <div class = "blank-area1 col-sm-1 hidden-xs"> </div>
  <div class = "col-sm-10 col-xs-12">
    <ul class="nav nav-tabs nav-justified">
    	<li class="<%= 'active' if current_page?(user_path(@user)) %>"><%= link_to user_path(@user) do %>PROFILE<% end %></li>
    	<li class="<%= 'active' if current_page?(mine_user_path(@user)) %>"><%= link_to mine_user_path(@user) do %>MACHINES<% end %></li>
    	<li class="<%= 'active' if current_page?(fastenings_user_path(@user)) %>"><%= link_to fastenings_user_path(@user) do %>いいね★</span><% end %></li>
    	<li class="<%= 'active' if current_page?(followings_user_path(@user)) %>"><%= link_to followings_user_path(@user) do %>FOLLOW<span class="badge"><%= @count_followings %></span><% end %></li>
    	<li class="<%= 'active' if current_page?(followers_user_path(@user)) %>"><%= link_to followers_user_path(@user) do %>FOLLOWER <span class="badge"><%= @count_followers %></span><% end %></li>
    </ul>
    <%= render 'machines/machines', machines: @machines %>
  </div>
  <div class = "blank-area2 col-sm-1 hidden-xs">
  </div>
</div>
