<div class = "row page-title">
  <div class = "blank-area1 col-sm-1 hidden-xs"></div>
  <div class = "col-xs-12 col-sm-10">
    <h2 class = "on-white">USER SEARCH</h2>
  </div>
  <div class = "blank-area2 col-sm-1 hidden-xs"></div>
</div>
<div class = "row user-tabs-area">
  <div class = "blank-area1 col-sm-1 hidden-xs"></div>
  <div class = "col-xs-12 col-sm-10">
    <h3>ユーザ名で検索</h3>
    <%= search_form_for @search do |f| %>
      <div class="form-group">
        <%= f.label :name_cont, "ユーザ名" %>
        <%= f.search_field :name_cont, class: "form-control" %>
      </div>
      <div class="actions"><%= f.submit "Search", class: 'btn btn-primary' %></div>
    <% end %>
    <%= render 'users', users: @users %>
  </div>
  <div class = "blank-area2 col-sm-1 hidden-xs"></div>
</div>

