<div class="row">
  <aside class="col-sm-4 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title"><%= @user.name %>さん</h2>
      </div>
      <div class="panel-body">
        <h3>自己紹介</h3>
        <div><%= simple_format(@user.user_introduction) %></div>
        <h3>ブログ・ホームページ</h3>
        <%= link_to @user.user_url, @user.user_url %>
        <%= render 'relationships/follow_button', user: @user %>
      </div>
    </div>
  </aside>
  <div class="col-sm-8 col-xs-12">
    <ul class="nav nav-tabs nav-justified">
      <li class="<%= 'active' if current_page?(user_path(@user)) %>"><%= link_to user_path(@user) do %>マイマシン <span class="badge"><%= @count_machines %></span><% end %></li>
      <li class="<%= 'active' if current_page?(fastenings_user_path(@user)) %>"><%= link_to fastenings_user_path(@user) do %>マイクリップ <span class="badge"><%= @count_fastenings %></span><% end %></li>
      <li class="<%= 'active' if current_page?(followings_user_path(@user)) %>"><%= link_to followings_user_path(@user) do %>フォロー <span class="badge"><%= @count_followings %></span><% end %></li>
      <li class="<%= 'active' if current_page?(followers_user_path(@user)) %>"><%= link_to followers_user_path(@user) do %>フォロワー <span class="badge"><%= @count_followers %></span><% end %></li>
    </ul>
    <%= render 'machines/machines', machines: @machines %>
    <%= render 'machines/new_button', user: @user %>
  </div>
</div>
