<%= form_for(@servo) do |f| %>
  <div class="panel-body">
    <p>サーボ名：<%= f.text_field :name, class: 'form-control' %></p>
    <p>メーカー：<%= f.collection_select :maker_id, Maker.all, :id, :maker_name, {}, {class: 'form-control'} %></p>
    <p>メーカーサイト：<%= f.text_field :maker_url, class: 'form-control' %></p>
    <p>定価：<%= f.number_field :list_price, class: 'form-control' %>円</p>
    <p>サーボタイプ<%= f.collection_radio_buttons  :servo_type, ServoSelection.all, :servo_type, :servo_type, {} %></p>
    <p>形状：<%= f.collection_radio_buttons :profile , ProfileSelection.all, :profile_type, :profile_type, {} %></p>
    <p>スピード(7.4V)：<%= f.number_field :speed_74, class: 'form-control' %>sec&#47;60°</p>
    <p>スピード(6.0V)：<%= f.number_field :speed_60, class: 'form-control' %>sec&#47;60°</p>
    <p>スピード(4.8V)：<%= f.number_field :speed_48, class: 'form-control' %>sec&#47;60°</p>
    <p>トルク(7.4V)：<%= f.number_field :torque_74, class: 'form-control' %>kg・cm</p>
    <p>トルク(6.0V)：<%= f.number_field :torque_60, class: 'form-control' %>kg・cm</p>
    <p>トルク(4.8)：<%= f.number_field :torque_48, class: 'form-control' %>kg・cm</p>
    <p>サイズ(●×●×●）：<%= f.text_field :dimensions, class: 'form-control' %>mm</p>
    <p>重量：<%= f.number_field :weight, class: 'form-control' %>g</p>
    <p>その他情報<%= f.text_area :information, class: 'form-control', rows: 5 %></p>
    <%= f.file_field :image %>
  </div>
  <%= f.submit '確定', class: 'btn btn-primary' %>
<% end %>