<%= form_for(@esc) do |f| %>
  <div class="panel-body">
    <p>ESC名：<%= f.text_field :name, class: 'form-control' %></p>
    <p>メーカー：<%= f.collection_select :maker_id, @makers, :id, :maker_name, {}, {class: 'form-control'} %></p>
    <p>メーカーサイト：<%= f.text_field :maker_url, class: 'form-control' %></p>
    <p>定価：<%= f.text_field :list_price, class: 'form-control' %></p>
    <p>モータータイプ<%= f.collection_select :motor_type, BrushSelection.all, :motor_type, :motor_type, {}, {class: 'form-control'} %></p>
    <p>センサー有無：<%= f.collection_select :sencor , SencorSelection.all, :sensor, :sensor, {}, {class: 'form-control'} %></p>
    <p>対応ターン数：<%= f.text_field :turn, class: 'form-control' %>以上</p>
    <p>入力電圧：<%= f.text_field :input_current, class: 'form-control' %></p>
    <p>瞬間最大電流：<%= f.text_field :output_current_max, class: 'form-control' %>A</p>
    <p>連続最大電流：<%= f.text_field :output_current, class: 'form-control' %></p>
    <p>抵抗値<%= f.text_field :ohm, class: 'form-control' %></p>
    <p>BEC(-A/-V)：<%= f.text_field :bec, class: 'form-control' %></p>
    <p>対応バッテリー：
    Li-Po：<%= f.text_field :lipo, class: 'form-control' %>
    Li-Fe：<%= f.text_field :life, class: 'form-control' %>
    Ni-MH：<%= f.text_field :nimh, class: 'form-control' %>
    Ni-Cd：<%= f.text_field :nicd, class: 'form-control' %>
    <p>その他情報<%= f.text_area :information, class: 'form-control', rows: 5 %></p>
    <%= f.file_field :image %>
  </div>
  <%= f.submit '確定', class: 'btn btn-primary' %>
<% end %>