<div class="row">
  <h2 class = "text-center"><%= @recevier.name %></h2>
  <div class = "col-sm-6">
    <%= image_tag @recevier.image_url, class: 'img-100' %> 
     <cite class = "text-muted small text-right">画像引用：<%= link_to "＜#{@recevier.maker.maker_name}website＞#{@recevier.name}", @recevier.maker_url %></p></cite>
  </div>
  <div class = "col-sm-6">
    <blockquote>
      <p>メーカー：<%= @recevier.maker.maker_name %></p>
      <p>定価：<%= @recevier.list_price %> 円</p>
      <p>通信方式：<%= @recevier.frequency %></p>
      <p>チャンネル数：<%= @recevier.channel %></p>
      <p>寸法：<%= @recevier.dimensions %> mm</p>
      <p>重量：<%= @recevier.weight %> g</p>
      <cite class = "text-muted small text-right">スペック引用：<%= link_to "＜#{@recevier.maker.maker_name}website＞#{@recevier.name}", @recevier.maker_url %></p></cite>
    </blockquote>
  </div>
</div>
<div class="row item_info">
  <div class="panel panel-default">
    <div class="panel-heading">Information</div>
    <div class="panel-body">
        <%= simple_format(@recevier.information) %>
    </div>
  </div>
</div>
<% if logged_in? %>
  <div>
    <h3><%= @recevier.name %>へのコメント</h3>
      <%= render 'microposts/microposts', microposts: @microposts %>
      <p>コメント投稿</p>
      <%= render 'microposts/post_form', {micropost: @micropost, item: @recevier, post_item: @post_item} %>
  </div>
<% else %>
  ログインしてください
<% end %> 
<div>
  <h3><%= @recevier.name %>搭載マシン</h3>
    <%= render 'machines/machines', machines: @machines %>
</div>