<div class = "row top-wrap">
  <div class="col-md-6 top-image-box ">
    <h3 class = "text-center">RC CAR CLIPへようこそ</h3>
    <p>RC CAR CRIPはEPラジコンカーを楽しむ人のためのサイトです。</p>
    <p>こんなことができます。</p>
    <ul>
      <li>自慢の愛車を公開！</li>
      <li>他のユーザの愛車をクリップ！</li>
      <li>キットやパーツのデータベース閲覧（どんどん増やしていきたいです）</li>
      <li>キットやパーツのデータを登録する（ご協力いただければ嬉しいです）</li>
      <li>キットやパーツにコメントをつける</li>
    </ul>
    <p>まだまだコンテンツ不足ですが、徐々に内容を充実させていきますのでよろしくお願いします</p>
      
  </div>
  <div class="col-md-6 top-right-box">
    <% if logged_in? %>
      <h2>新着コメント</h2>
      <%= render 'microposts/top_microposts', microposts: @microposts %>
    <% else %>
      ログインすると愛車の公開やコメント投稿、閲覧ができるようになります。
      <p>
        <%= render 'sessions/form' %>
      </p>
    <% end %> 
  </div>  
</div>

<h2 class = "top-new-machine-h2">新着マシン</h2>
<%= render 'machines/machines', machines: @new_machines %>

<section class = "top-section">
  <h2>新着アイテム</h2>
<div class = "row flex">

  <div class = "col-sm-6 center-block item-card-wrap">
    <div class = "item-card">
      <h3 class = "top-item-h3">新着キット</h3> <%= link_to '一覧へ', kits_path, class: 'small' %>
      <%= render 'items', { items: @new_kits, goto: @kit_link } %>
    </div>
  </div>  
  <div class = "col-sm-6 center-block item-card-wrap">
    <div class = "item-card">
      <h3 class = "top-item-h3">新着モーター</h3> <%= link_to '一覧へ', motors_path, class: 'small' %>
      <%= render 'items', { items: @new_motors, goto: @motor_link } %>
    </div>
  </div>
  <div class = "col-sm-6 center-block item-card-wrap">
    <div class = "item-card">
      <h3 class = "top-item-h3">新着ESC</h3> <%= link_to '一覧へ', escs_path, class: 'small' %>
      <%= render 'items', { items: @new_escs, goto: @esc_link } %>
    </div>
  </div>
  <div class = "col-sm-6 center-block item-card-wrap">
    <div class = "item-card">
      <h3 class = "top-item-h3">新着サーボ</h3> <%= link_to '一覧へ', servos_path, class: 'small' %>
      <%= render 'items', { items: @new_servos, goto: @servo_link } %>
    </div>
  </div>
  <div class = "col-sm-6 center-block item-card-wrap">
    <div class = "item-card">
      <h3 class = "top-item-h3">新着レシーバー</h3> <%= link_to '一覧へ', receviers_path, class: 'small' %>
      <%= render 'items', { items: @new_receviers, goto: @receiver_link } %>
    </div>
  </div>
</div>