<div class = "row top-image">
  <div class = "col-md-offset-1 col-md-6 col-sm-offset-1 col-sm-6 col-xs-12">
    <div class = "top-card-area">
      <div class = "top-card">
        <h3 class = "text-center">ラジコンで遊ぶ！</h3>
        <div>
          <div>
            <q>We don’t stop playing because we grow old; we grow old because we stop playing.</q>
          </div>
          <div>
            <small>老いたから遊ばなくなるのではない、遊ばないから老いるのだ</small>
          </div>          
          <div class = "text-right"><cite>- George Bernard Shaw</cite></div>
          <%= link_to 'About RaZIP',about_path, class: 'btn btn-primary center-block about-btn' %>
        </div>
      </div>
    </div>
  </div>
  <div class = "col-md-4 col-sm-4 col-xs-12">
    <div class = "login-box center-block">
      <%= render 'sessions/form' %>
    </div>
  </div>
</div>

<div class = "row new-area"  id = "machines-wrap">
  <div class = "blank-area1 col-sm-1 hidden-xs">
  </div>
  <div class = "col-xs-12 col-sm-10 " id = "new-machines-area">
    <h2 class = "on-black">New Machines</h2>
    <%= render 'machines/machines', machines: @new_machines %>
  </div>
</div>

<div class = "row new-area posts-items-wrap">
  <div class = "blank-area2 col-sm-1 hidden-xs">
  </div>
  <div class = "col-xs-12 col-sm-10 col-md-5" id = "new-micoroposts-area">
    <h2 class = "on-white">New Coments</h2>
    <% if logged_in? %>
      <%= render 'microposts/top_microposts', microposts: @microposts %>
    <% else %>
      <p>コメントを表示するためには、ログインが必要です。</p>
      <%= link_to 'ログイン', login_path, class: 'btn btn-primary center-block' %>
    <% end %>
  </div>
  <div class = "blank-area1 col-sm-1 hidden-xs visible-sm hidden-md"></div>
  <div class = "blank-area1 col-sm-1 hidden-xs visible-sm hidden-md"></div>
  <div class = "new-items-area col-xs-12 col-sm-10 col-md-5">
    <h2 class = "on-white">New Items</h2>
      <%= render 'items', items: @items %>
  </div>
  <div class = "blank-area1 col-sm-1 hidden-xs hidden-sm"></div>
</div>


