<div class = "row top-image">
  <div class = "col-md-offset-1 col-md-6 col-sm-8">
    <h3 class = "text-center">Welcome to RaZIP</h3>
    <div class = "top-text">
      <p>EPラジコンカーを愛する人へ<br>
      <ul>
        <li>自慢の愛車を公開！</li>
        <li>他のユーザの愛車をクリップ！</li>
        <li>キットやパーツのデータベース閲覧（どんどん増やしていきたいです）</li>
        <li>キットやパーツのデータを登録する（ご協力いただければ嬉しいです）</li>
        <li>キットやパーツにコメントをつける</li>
      </ul>
    </div>
  </div>
  <div class = "col-md-4 col-sm-4">
    <div class = "login-box center-block">
      <% if logged_in? %>
        
        <%= link_to "#{current_user.name}さんの Mypage", user_path(current_user), class: 'btn btn-danger btn-block' %> 
      <% else %>
        <%= render 'sessions/form' %>
      <% end %>
    </div>
  </div>
</div>

<div class = "row new-area"  id = "machines-wrap">
  <div class = "blank-area1 col-sm-1 hidden-xs">
  </div>
  <div class = "col-sm-10 " id = "new-machines-area">
    <h2 class = "on-black">New Machines</h2>
    <%= render 'machines/machines', machines: @new_machines %>
  </div>
</div>

<div class = "row new-area posts-items-wrap">
  <div class = "blank-area2 col-sm-1 hidden-xs">
  </div>
  <div class = "col-xs-12 col-sm-10 col-md-5" id = "new-micoroposts-area">
    <h2 class = "on-white">New Coments</h2>
    <% if logged_in? %>
      <%= render 'microposts/top_microposts', microposts: @microposts %>
    <% else %>
      <p>コメントを表示するためには、ログインが必要です。</p>
      <%= link_to 'ログイン', login_path, class: 'btn btn-primary center-block' %>
    <% end %>
  </div>
  <div class = "blank-area1 col-sm-1 hidden-xs visible-sm hidden-md"></div>
  <div class = "blank-area1 col-sm-1 hidden-xs visible-sm hidden-md"></div>
  <div class = "new-items-area col-xs-12 col-sm-10 col-md-5">
    <h2 class = "on-white">New Items</h2>
      <%= render 'items', items: @items %>
  </div>
  <div class = "blank-area1 col-sm-1 hidden-xs hidden-sm"></div>
</div>


