<div class = "search-area">
  <a class="search-toggle btn btn-primary btn-block" data-toggle="collapse" href="#collapseExample">
  	検索メニュー表示
  </a>
  <div class="collapse" id="collapseExample">
  	<div class="well">
  		<%= search_form_for(@search, url:search_motors_path) do |f| %>
      <p>
        <%= f.label :name, 'モーター名' %>
        <%= f.search_field :name_cont, {class: 'form-control'} %>
      </p>
      <p>
        <%= f.label :maker, 'メーカー' %>
        <%= f.collection_select :maker_id_eq, @makers, :id, :maker_name, {include_blank: true}, {class: 'form-m form-control'} %>
      </p>
      <p>
        <%= f.label :brush, 'ブラシレスorブラシ' %>
        <%= f.collection_select :brush_eq, BrushSelection.all, :motor_type, :motor_type, {include_blank: true}, {class: 'form-m form-control'} %>
      </p>
      <p>
        <%= f.label :turn, 'ターン数' %>
        <%= f.text_field :turn_gteq, {class: 'form-control form-s'} %>以上～
        <%= f.text_field :turn_lteq, {class: 'form-control form-s'} %>以下
      </p>
      <p>
        <%= f.label :kv, 'kv値' %>
        <%= f.number_field :kv_gteq, {class: 'form-control form-s'} %>以上～
        <%= f.number_field :kv_lteq, {class: 'form-control form-s'} %>以下
      </p>
        <%= f.submit '検索', class: 'btn btn-primary' %>
        <% end %>
  	</div>
  </div>
</div>