<% if current_user.admin? %>
  <%= link_to 'アイテム編集', edit_motor_path(@motor) %>
<% end %>

<div class="row">
  <h2 class = "text-center"><%= @motor.name %></h2>
  <div class = "col-sm-6">
    <%= image_tag @motor.image_url, class: 'img-100' %> 
     <cite class = "text-muted small text-right">画像引用：<%= link_to "＜#{@motor.maker.maker_name}website＞#{@motor.name}", @motor.maker_url %></p></cite>
  </div>
  <div class = "col-sm-6">
    <blockquote>
      <p>メーカー：<%= @motor.maker.maker_name %></p>
      <p>定価：<%= @motor.list_price %> 円</p>
      <p>モータータイプ<%= @motor.brush %></p>
      <p>センサー：<%= @motor.sencor %></p>
      <p>ターン数：<%= @motor.turn %> ターン</p>
      <p>kv値：<%= @motor.kv %> rpm/V</p>
      <p>最高回転：<%= @motor.kv %> rpm</p>
      <p>トルク<%= @motor.torque %> kg・cm</p>
      <p>動作電圧：<%= @motor.voltage %> V</p>
      <p>最大電流：<%= @motor.ampere %> A</p>
      <cite class = "text-muted small text-right">スペック引用：<%= link_to "＜#{@motor.maker.maker_name}website＞#{@motor.name}", @motor.maker_url %></p></cite>
    </blockquote>
  </div>
</div>
<div class="row item_info">
  <div class="panel panel-default">
    <div class="panel-heading">Information</div>
    <div class="panel-body">
        <%= simple_format(@motor.information) %>
    </div>
  </div>
</div> 

<% if logged_in? %>
  <div>
    <h3><%= @motor.name %>へのコメント</h3>
      <%= render 'microposts/microposts', microposts: @microposts %>
      <p>コメント投稿</p>
      <%= render 'microposts/post_form', {micropost: @micropost, item: @motor, post_item: @post_item} %>
  </div>
<% else %>
    ログインするとユーザのコメントが表示されます
<% end %> 

<div>
  <h3><%= @motor.name %>搭載マシン</h3>
    <%= render 'machines/machines', machines: @machines %>
</div>