<h2>データカテゴリー</h2>
<%= link_to 'キットデータへ', kits_path, class: 'btn btn-default' %>


<%= link_to 'モーターデータへ', motors_path, class: 'btn btn-default' %>


<%= link_to 'ESCデータへ', escs_path, class: 'btn btn-default' %>


<%= link_to 'サーボデータへ', servos_path, class: 'btn btn-default' %>


<%= link_to 'レシーバデータへ', receviers_path, class: 'btn btn-default' %>

<p>
  データに誤りがありましたらお手数をおかけしますが、ご連絡ください。
</p>
<p>
  また、カテゴリーやアイテムの追加のご要望も遠慮なくお申し付けください。<br>
  なるべく早く対応させていただきます。
</p>
  
