<div class = "row page-title">
  <div class = "blank-area1 col-sm-1 hidden-xs"></div>
  <div class = "col-xs-12 col-sm-10">
    <h2 class = "user-name">ITEMS DATA</h2>
    <div class = "items-data">
      <%= link_to 'キットデータ', kits_path, class: 'btn btn-primary' %>
  
      <%= link_to 'モーターデータ', motors_path, class: 'btn btn-primary' %>
  
      <%= link_to 'ESCデータ', escs_path, class: 'btn btn-primary' %>
  
      <%= link_to 'サーボデータ', servos_path, class: 'btn btn-primary' %>
    
      <%= link_to 'レシーバデータ', receviers_path, class: 'btn btn-primary' %>
    </div>
      <%= render 'registrations' %>
    <div class = "blank-area2 col-sm-1 hidden-xs"></div>
  </div>
</div>







  
