  <ul>
    <% if microposts != [] %>
      <% microposts.each do |micropost| %>
        <li><p><%= micropost.content %>＞＞
          <% user = micropost.user %>
          <% if micropost.machine_id != nil %>
            <%= link_to micropost.machine.machine_name, machine_path(micropost.machine.id) %>
          <% elsif micropost.kit_id != nil%>
            <%= link_to micropost.kit.name, kit_path(micropost.kit.id) %>
          <% elsif micropost.motor_id != nil%>
            <%= link_to micropost.motor.name, motor_path(micropost.motor.id) %>
          <% elsif micropost.esc_id != nil%>
            <%= link_to micropost.esc.name, esc_path(micropost.esc.id) %>
          <% elsif micropost.recevier_id != nil%>
            <%= link_to micropost.recevier.name, recevier_path(micropost.recevier.id) %>
          <% else %>
            <%= "つぶやき" %>
          <% end %>
          
           <% if current_user == micropost.user %>
              <%= link_to "削除", micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
            <% end %>
          </p>
          <span class="text-muted"><%= micropost.created_at.to_s(:db) %></span> by <%= link_to user.name, user_path(user) %> 
          <hr>
     
        </li>
      <% end %>
    <% else %>
      <p>まだコメントはありません。最初のコメントを投稿してみませんか？</p>
    <% end %>
    <%= paginate microposts %>
  </ul>