  <ul class="list-group">
    <% if microposts != [] %>
      <% microposts.each do |micropost| %>
        <% user = micropost.user %>
        
        <li class="list-group-item">
          <div>

            <%= micropost.content %>
          </div>
          <div class ="text-right"><span class="text-muted"><%= micropost.created_at.in_time_zone('Tokyo') %> <span class="glyphicon glyphicon-user <%= user_icon(user) %>" aria-hidden="true"></span></span><%= link_to user.name, user_path(user) %> 
           <% if current_user == micropost.user %>
              <%= link_to "削除", micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %></div>
            <% end %>
            
        </li>
      <% end %>
    <% else %>
      <p>まだコメントはありません。最初のコメントを投稿してみませんか？</p>
    <% end %>
    <div class = "paginate-center"><%= paginate microposts %></div>
    <div class = "text-right">
      <a class="btn" data-toggle="collapse" href="#collapseExample"><small><span class="glyphicon glyphicon-user" aria-hidden="true"></span>アイコンの見方</small></a>
      <div class="collapse" id="collapseExample">
    	<div class="well icon-info-wrap">
    		<div class = "icon-info"><span class="glyphicon glyphicon-user works" aria-hidden="true"></span><small>ワークス</small></div>
    		<div class = "icon-info"><span class="glyphicon glyphicon-user katsu2" aria-hidden="true"></span><small>カツカツ</small></div>
    		<div class = "icon-info"><span class="glyphicon glyphicon-user soko2" aria-hidden="true"></span><small>そこそこ</small></div>
    		<div class = "icon-info"><span class="glyphicon glyphicon-user mattari" aria-hidden="true"></span><small>まったり</small></div>
    		<div class = "icon-info"><span class="glyphicon glyphicon-user begginer" aria-hidden="true"></span><small>初心者</small></div>
    		<div class = "icon-info"><span class="glyphicon glyphicon-user misettei" aria-hidden="true"></span><small>未設定</small></div>
    	</div>
</div>
    </div>
  </ul>