<% if microposts != [] %>
  <% microposts.each do |micropost| %>
    <% user = micropost.user %>
    <div class = "top-microposts">
      <div>
        <%= micropost.content.truncate(36) %>
      </div>
      <div>
        <span class="label label-primary text-white post-label">
          <% if micropost.machine_id != nil %>
            <%= link_to micropost.machine.machine_name, machine_path(micropost.machine.id) %>
          <% elsif micropost.kit_id != nil%>
            <%= link_to micropost.kit.name, kit_path(micropost.kit.id) %>
          <% elsif micropost.motor_id != nil%>
            <%= link_to micropost.motor.name, motor_path(micropost.motor.id) %>
          <% elsif micropost.esc_id != nil%>
            <%= link_to micropost.esc.name, esc_path(micropost.esc.id) %>
          <% elsif micropost.recevier_id != nil%>
            <%= link_to micropost.recevier.name, recevier_path(micropost.recevier.id) %>
          <% elsif micropost.servo_id != nil%>
            <%= link_to micropost.servo.name, servo_path(micropost.servo.id) %>
          <% end %>
        </span>
        <span class="glyphicon glyphicon-user <%= user_icon(user) %>" aria-hidden="true"></span><%= link_to user.name, user_path(user) %> 
      </div>
    </div>
  <% end %>
<% else %>
  <p>まだコメントはありません。最初のコメントを投稿してみませんか？</p>
<% end %>


