  <ul class="list-group">
    <% if microposts != [] %>
      <% microposts.each do |micropost| %>
        <% user = micropost.user %>
        
        <li class="list-group-item">
          <div>
            <span class="label label-default text-white post-label">
              <% if micropost.machine_id != nil %>
                <%= link_to micropost.machine.machine_name, machine_path(micropost.machine.id) %>
              <% elsif micropost.kit_id != nil%>
                <%= link_to micropost.kit.name, kit_path(micropost.kit.id) %>
              <% elsif micropost.motor_id != nil%>
                <%= link_to micropost.motor.name, motor_path(micropost.motor.id) %>
              <% elsif micropost.esc_id != nil%>
                <%= link_to micropost.esc.name, esc_path(micropost.esc.id) %>
              <% elsif micropost.recevier_id != nil%>
                <%= link_to micropost.recevier.name, recevier_path(micropost.recevier.id) %>
              <% elsif micropost.servo_id != nil%>
                <%= link_to micropost.servo.name, servo_path(micropost.servo.id) %>
              <% else %>
                <%= "つぶやき" %>
              <% end %>
            </span>
            <%= micropost.content.truncate(64) %>
          </div>
          <div class ="text-right"><span class="text-muted"><%= micropost.created_at.in_time_zone('Tokyo') %> <span class="glyphicon glyphicon-user" aria-hidden="true"></span></span><%= link_to user.name, user_path(user) %> 
           <% if current_user == micropost.user %>
              <%= link_to "削除", micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %></div>
            <% end %>
            
        </li>
      <% end %>
    <% else %>
      <p>まだコメントはありません。最初のコメントを投稿してみませんか？</p>
    <% end %>
    <p><%= paginate microposts %> </p>
  </ul>