<%= form_for(@machine) do |f| %>
  <div class="panel-body">
    <p>
      <%= f.label :machine_name, 'マシン名' %><small class = "text-muted">　愛車に名前を付けている場合入力。例：「RaZIP１号」など</small>
      <%= f.text_field :machine_name, class: 'form-control' %>
    </p>
    
    <p>
      <%= f.label :kit_id, 'キット(シャーシ）' %><small class = "text-muted">※必須　リストにない場合は「その他」　</small>
      <%= f.select :maker_id, options_from_collection_for_select(Maker.where(supply_kit: true), :id, :maker_name),
      {include_blank: 'メーカー選択'}, {data: {remote: true, url: url_for(action: :hello_kit)}, class: 'form-control form-m'} %>
      <!-- メーカーを選択するとここに動的にセレクトボックスが描画される -->
      <div id="kit-select">
        <small class = "text-info">メーカーを選択するとキットが選べます↑</small>
      </div>
    </p>
    

    <p>
      <%= f.label :motor_id, 'モーター' %><small class = "text-muted"> ※必須　リストにない場合は「その他」　</small>
      <%= f.select :maker_id, options_from_collection_for_select(Maker.where(supply_motor: true), :id, :maker_name),
      {include_blank: 'メーカー選択'}, {data: {remote: true, url: url_for(action: :hello_motor)}, class: 'form-control form-m'} %>
      <!-- メーカーを選択するとここに動的にセレクトボックスが描画される -->
      <div id="motor-select">
        <small class = "text-info">メーカーを選択するとモーターが選べます↑</small>
      </div>
    </p>
    

    <p>
      <%= f.label :esc_id, 'ESC' %><small class = "text-muted"> ※必須　リストにない場合は「その他」　</small>
      <%= f.select :maker_id, options_from_collection_for_select(Maker.where(supply_esc: true), :id, :maker_name),
      {include_blank: 'メーカー選択'}, {data: {remote: true, url: url_for(action: :hello_esc)}, class: 'form-control form-m'} %>
      <!-- メーカーを選択するとここに動的にセレクトボックスが描画される -->
      <div id="esc-select">
        <small class = "text-info">メーカーを選択するとESCが選べます↑</small>
      </div>
    </p>

    <p>
      <%= f.label :servo_id, 'ステアリングサーボ' %><small class = "text-muted"> ※必須　リストにない場合は「その他」　</small>
      <%= f.select :maker_id, options_from_collection_for_select(Maker.where(supply_servo: true), :id, :maker_name),
      {include_blank: 'メーカー選択'}, {data: {remote: true, url: url_for(action: :hello_servo)}, class: 'form-control form-m'} %>
      <!-- メーカーを選択するとここに動的にセレクトボックスが描画される -->
      <div id="servo-select">
        <small class = "text-info">メーカーを選択するとサーボが選べます↑</small>
      </div>
    </p>

    <p>
      <%= f.label :recevier_id, 'レシーバー（受信機）' %><small class = "text-muted"> ※必須　リストにない場合は「その他」　</small>
      <%= f.select :maker_id, options_from_collection_for_select(Maker.where(supply_recevier: true), :id, :maker_name),
      {include_blank: 'メーカー選択'}, {data: {remote: true, url: url_for(action: :hello_recevier)}, class: 'form-control form-m'} %>
      <!-- メーカーを選択するとここに動的にセレクトボックスが描画される -->
      <div id="recevier-select">
        <small class = "text-info">メーカーを選択するとレシーバーが選べます↑</small>
      </div>
    </p>
    
    <p>
      <%= f.label :regulation, 'レギュレーション' %><small class = "text-muted">　「谷田部アリーナ17.5ツーリング」あるいは「公園」とか</small>
      <%= f.text_field :regulation, class: 'form-control' %>
    </p>
    <p>
      <%= f.label :other, 'その他仕様' %><small class = "text-muted">　使用しているカスタムパーツなど</small>
      <%= f.text_area :other, class: 'form-control', rows: 3 %>
    </p>
    <p>
      <%= f.label :information, 'オーナーコメント' %><small class = "text-muted">　愛車についてご自由にご記入ください</small>
      <%= f.text_area :information, class: 'form-control', rows: 5 %>
    </p>
    <p>
      <%= f.label :image, '画像アップロード' %>
      <%= f.file_field :image %>
    </p>
  </div>
  <div class = "text-center">
    <%= f.submit '登録', class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>