<div class = "row flex panel-wrap">
  <% machines.each do |machine| %>
    <% user = machine.user %>
    <% @machine = machine %>
    <% if machine.image == nil %>
      <%= machine.image = "https://s3-ap-northeast-1.amazonaws.com/rc-car-clip/uploads/no_image/thumb_noimage.png" %>
    <% end %>
    <div class = "col-sm-6 col-md-4 center-block">
      <div class = "panel">
        <div class = "panel-body">
          <%= link_to image_tag(machine.image_url(:thumb).to_s), machine_path(machine), class: "center-block" %>
  
        <h4><%= link_to machine.machine_name, machine_path(machine) %><small>－<%= machine.kit.name %></small></h4>
        <p class = "text-right">
        <span class="text-muted"><%= machine.updated_at.to_s(:db) %>：</span><%= link_to user.name, user_path(user) %></p>
        <p class = "text-center">クリップ<span class ="badge"><%= machine.fastened.count %></span></p>
        </div>
      </div>
    </div>
  <% end %>
</div>