<h1><%= @machine.machine_name %> の詳細ページ</h1>

<p>画像：<%= image_tag @machine.image_url %></p>
<p>キット：<%= link_to @machine.kit.name, kit_path(@machine.kit_id) %></p>
<p>モーター：<%= link_to @machine.motor.name, motor_path(@machine.motor_id) %></p>
<p>ESC：<%= link_to @machine.esc.name, esc_path(@machine.esc_id) %></p>
<p>サーボ：<%= link_to @machine.servo.name, servo_path(@machine.servo_id) %></p>
<p>受信機：<%= link_to @machine.recevier.name, recevier_path(@machine.recevier_id) %></p>
<p>クラス：<%= @machine.regulation %></p>
<p>その他仕様：<%= @machine.other %></p>
<p>オーナーコメント：<%= @machine.information %></p>


<%= render 'clips/clip_button', machine: @machine %>
<p>クリップしたユーザ数： <%= @count_fastened %></p>
<%= render 'machines/edit_button', machine: @machine %>


