<% if logged_in? && current_user.admin? %>
  <%= link_to 'メーカー編集', edit_maker_path(@maker) %>
<% end %>

<h2>メーカー名：<%= @maker.maker_name %></h2>
<ul>
  <li>更新日: <%= @maker.updated_at %></li>
  <li>メーカーサイト： <%= @maker.official_url %></li>
  <li>キット： <%= @maker.supply_kit %></li>
  <li>モーター： <%= @maker.supply_motor %></li>
  <li>ESC： <%= @maker.supply_esc %></li>
  <li>サーボ： <%= @maker.supply_servo %></li>
  <li>レシーバー： <%= @maker.supply_recevier %></li>
</ul>

<% if current_user.admin? %>
  <%= link_to 'メーカー編集', edit_maker_path(@maker) %>
<% end %>