<footer class = "row">
  
  <div class = "col-sm-offset-1 col-xs-12 col-sm-5">
    <h5>Footer menu</h5>
    <ul>
      <li><%= link_to 'home', root_path %></li>
      <li>datas
        <ul>
          <li><%= link_to 'kits', kits_path %></li>
          <li><%= link_to 'motors', motors_path %></li>
          <li><%= link_to 'escs', escs_path %></li>
          <li><%= link_to 'servos', servos_path %></li>
          <li><%= link_to 'receviers', receviers_path %></li>
        </ul>
      </li>
      
      <li><%= link_to 'machines', machines_path %></li>
      <li><%= link_to 'privacy policy', privacy_path %></li>
      <li><%= link_to 'contact', contact_path %></li>
    </ul>
  </div>
  <div class = "col-xs-12 col-sm-5">
    <h4>Informations</h4>
    <a class="twitter-timeline" data-lang="ja" data-height="400" data-theme="light" data-link-color="#0C7CD5" href="https://twitter.com/RaZIP18?ref_src=twsrc%5Etfw">Tweets by RaZIP18</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <div class = "col-xs-12 text-center">
    <h3><%= link_to 'RaZIP', root_path, class: "text-center" %></h3>
  </div>
</footer>
