<footer class = "row">
  <div class = "col-sm-offset-1 col-xs-12 col-sm-5">
    <h5>Footer menu</h5>
    <ul>
      <li><%= link_to 'home', root_path %></li>
      <li>datas
        <ul>
          <li><%= link_to 'kits', kits_path %></li>
          <li><%= link_to 'motors', motors_path %></li>
          <li><%= link_to 'escs', escs_path %></li>
          <li><%= link_to 'servos', servos_path %></li>
          <li><%= link_to 'receviers', receviers_path %></li>
          <li><%= link_to 'privacy policy', privacy_path %></li>
        </ul>
      </li>
      
      <li><%= link_to 'machines', machines_path %></li>
      <li><%= link_to 'contact', contact_path %></li>
    </ul>
  </div>
  <div class = "col-xs-12 col-sm-5">
    <h5>今後の予定</h5>
    <p><small>まずはアイテム数を増やしていきます。<br>
    続いて、アイテムのカテゴリーを増やします。
    </small></p>
    <hr>
    <h5>おねがい</h5>
    <p><small>RaZIPでは、データ入力のお手伝いをしてくれる方を熱望しております。<br>
    もしそんな方がこの世にいらっしゃいましたら・・・左の[contact]からご連絡ください。
    </small></p>
  </div>
  <div class = "col-xs-12 text-center">
    <h3><%= link_to 'RaZIP', root_path, class: "text-center" %></h3>
  </div>
</footer>
